@model AssetTracking.Models.Models.WarrantyPeriodUnit

@{
    ViewBag.Title = "Create Warranty Period Unit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- BEGIN FORM DESIGN -->
<div class="portlet box green">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-gift"></i>Create Warranty Period Unit
        </div>
        <div class="tools">
            <a href="javascript:;" class="collapse"> </a>
            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
            <a href="javascript:;" class="reload"> </a>
            <a href="javascript:;" class="remove"> </a>
        </div>
    </div>
    <div class="portlet-body form">
        <!-- BEGIN FORM-->
        @using (Html.BeginForm("Create", "WarrantyPeriodUnit", FormMethod.Post, new { @class = "form-horizontal" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-body">
                <div class="form-group">
                    <label class="col-md-3 control-label">Warranty Period Unit</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon input-circle-left">
                                <i class="fa fa-font" aria-hidden="true"></i>
                            </span>
                            @Html.TextBoxFor(model => model.WarrantyPeriodUnitName, new { @class = "form-control input-circle-right", @placeholder = "Enter Warranty Period Unit" })
                        </div>
                        @Html.ValidationMessageFor(model => model.WarrantyPeriodUnitName, String.Empty, new { @class = "font-red-thunderbird" })
                    </div>
                </div>
            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-offset-3 col-md-9">
                        <button type="submit" class="btn btn-circle green">Create</button>
                        @Html.ActionLink("Cancel", "Index", "WarrantyPeriodUnit", null, new { @type = "button", @class = "btn btn-circle grey-salsa btn-outline" })
                    </div>
                </div>
            </div>
        }
        <!-- END FORM-->
    </div>
</div>
