@model AssetTracking.Models.Models.WarrantyPeriodUnit

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>WarrantyPeriodUnit</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WarrantyPeriodUnitName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WarrantyPeriodUnitName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WarrantyPeriodUnitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
